<header>
    <div class="container-xxl" style="display: flex;align-items: center;height: 4rem;justify-content: space-around;">
        <section class="logo">
            <h1 class="text-white fw-bold">DAPI</h1>
        </section>
        <section class="options mt-2">
            <nav class="optionsNavigation">
                <ul class="optionsNavigationList">
                    <li  id="search"><a href="./search.html">Search</a></li>
                    <li><a href="./digimonList.html">Get digimon list</a></li>
                    <li id="theme">
                        <span data-theme="light">
                            <i class="bi bi-brightness-high-fill"></i>
                        </span>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
</header>